/*** header layout ***/
.header{
	@extend .container;
	&__navigation{

	}
}
.main{
	@extend .container;
}
.featured-products{
	margin: 0 0 $el__spacer--xs 0;
	@include respond-to(sm-screen){
		margin: $el__spacer--md 0 0 0;
	}
}
.latest-articles{
	@include respond-to(sm-screen){
		margin: $el__spacer--md 0 0 0;
	}
}
.aside{
	margin-top: $el__spacer--sm;	
}
.mobile-social{
	@extend .visible-xs;
	@include adjust-font-size-to(24px);
	margin-top: $el__spacer--sm;
}
/*** helper classes ***/
.pull--center{
	@extend .text-center;
}
.pull--left{
	@extend .pull-left;
}
.pull--right{
	@extend .pull-right;
}
.visible--mobile{
	@extend .visible-xs, .visible-sm, .hidden-md, .hidden-lg; 
}
.visible--desktop{
	@extend .hidden-xs, .hidden-sm, .visible-md, .visible-lg;
}
/*** javascript hook for putting img into it's parent's background ***/
.bg__img{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*** layout elements ***/
.center{
	@extend .pull--center;
	&__btn{
		@extend .center;
		margin-top: $el__spacer--sm;
	}
}