.carousel{
	&__img{
		width: em(90);
		height: em(90);
		@include respond-to(sm-screen){
			width: em(120);
			height: em(120);
		}
	}
	&__item-title{
		@extend .hidden-xs;
		color: $color__grey;
	}
}
.carousel--in-post{
	&__img{
		height: em(200);
	}		
}