/*** bottons ***/
.btn{
	display: inline-block;
	text-transform: uppercase;
	font-family: $secondary__font-family;
	font-weight: 500;
	letter-spacing: em(1);
	padding: em(13) em(22);
	@include border-radius(0, 0);
	@extend .text-center;
	&--default{
		@extend .btn;
		color: $color__accent;
		border: $el__border--accent;
	}
	&--default:hover{
		color: $color__wht;
		background-color: $color__accent;
	}
	&--primary{
		@extend .btn;
		color: $color__wht;
		background-color: $color__accent;
	}
}
/*** lists ***/
.h-list{
	margin: 0 auto;
	&__item{
		display: inline;
	}
	&__link{
		display: inline-block;
		width: auto;
	}
}
.v-list{
	&--footer{
		@include adjust-font-size-to(14px);
		color: $color__grey--light;
		text-transform: uppercase;
		float: left;
		margin-right: em(30);
		@include adjust-leading-to(4);
	}
}
/*** form ***/
.base-form{
	&__item--full{
		width: 100%;
		box-sizing: border-box;
		margin-top: $el__spacer--xs;
	}
}
input{
	font-style: italic;
	padding: em(13) em(17);
	border: $el__border;
}
input[type="email"] {
	@include input-placeholder{
		font-family: $secondary__font-family;
		font-weight: 500;
		color: $color__grey--light;
		@include adjust-font-size-to(12px);
	}
}
.form{
	&--footer{
		@extend .col-xs-12, .col-sm-4, .hidden-md, .hidden-lg;
	}
}
/*** search box ***/
.search-box{
	&__input-text{
		padding: em(4) em(8);
		&--aside{
			@extend .search-box__input-text;
			width: 70%;
		}
	}
	&__input-btn{
		background-color: $color__accent;
		position: relative;
		left: em(-20);
		padding: em(4) em(4);
		border: none;
	}
}
/*** alternative logo ***/
.logo-alt{
	@extend .hidden-xs;
}
/*** sub nav style ***/
.sub-nav{
	&--footer{
		@extend .visible--desktop, .col-md-offset-4, .col-md-4;
	}
}