/*** bottons ***/
.btn{
	display: inline-block;
	text-transform: uppercase;
	font-family: $secondary__font-family;
	font-weight: 500;
	letter-spacing: em(1);
	padding: em(13) em(22);
	@include border-radius(0, 0);
	@extend .text-center;
	&--default{
		@extend .btn;
		color: $color__accent;
		border: $el__border--accent;
	}
	&--default:hover{
		color: $color__wht;
		background-color: $color__accent;
	}
	&--primary{
		@extend .btn;
		color: $color__wht;
		background-color: $color__accent;
	}
}
/*** lists ***/
.h-list{
	margin: 0 auto;
	&__item{
		display: inline;
	}
	&__link{
		display: inline-block;
		width: auto;
	}
}
.v-list{
	&__item{
		text-align: left;
		@include adjust-font-size-to(13px);
		text-transform: uppercase;
		margin: em(5) 0 0 0;
	}
		&--mega__item{
		@extend .v-list__item;
		color: $color__grey;
		letter-spacing: em(1);
	}
	&--footer{
		color: $color__grey--light;
		float: left;
		margin-right: em(30);
		@include adjust-leading-to(4);
	}
}
/*** form ***/
.base-form{
	&__item--full{
		width: 100%;
		box-sizing: border-box;
		margin-top: $el__spacer--xs;
	}
}
input{
	font-style: italic;
	padding: em(13) em(17);
	border: $el__border;
}
input[type="email"] {
	@include input-placeholder{
		font-family: $secondary__font-family;
		font-weight: 500;
		color: $color__grey--light;
		@include adjust-font-size-to(12px);
	}
}
.form{
	&--footer{
		@extend .col-xs-12, .col-sm-4, .hidden-md, .hidden-lg;
	}
}
/*** search box ***/
.search-box{
	&__input-text{
		padding: em(4) em(8);
		&--aside{
			@extend .search-box__input-text;
			width: 70%;
		}
	}
	&__input-btn{
		background-color: $color__accent;
		position: relative;
		left: em(-20);
		padding: em(4) em(4);
		border: none;
	}
}
/*** custom control ***/
.custom-control{
	margin-top: $el__spacer--sm;
	&__item{
		background-color: $color__accent;
		color: $color__wht;
	}
	&__btn{
		padding: em(8) em(10);
	}
	&__btn:hover{
		color: $color__grey;
	}
}
/*** breadcrumb ***/
.breadcrumb-bar{
	&__list{
		@extend .breadcrumb;
		background-color: transparent;
		padding: $el__spacer--xs $el__spacer--xs*1.2;
	}
	&__item{

	}
	&__link{
		@include adjust-font-size-to(13px);
		text-transform: uppercase;
		letter-spacing: em(2);
		color: $color__grey;	
	}
	&__link--active{
		@extend .breadcrumb-bar__link;
		color: $color__accent;
	}
}
.breadcrumb-bar__list > li + li:before{
	content: "> ";
	padding: 0 em(6);
	color: $color__accent;
}
/*** page-title ***/
.page-opening{
	padding: 0 0 $el__spacer--xs $el__spacer--xs*1.2 ;
	border-bottom: $el__border;
	&__title{
		color: $color__accent;
	}
	&__title:before{
		content: "All articles from ";
	}
	&__title:after{
		content: " category";
	}
}
/*** read more ***/
.read-more{
	@extend .pull--right;
	text-transform: uppercase;
}
/*** alternative logo ***/
.logo-alt{
	@extend .hidden-xs;
}
/*** sub nav style ***/
.sub-nav{
	&--footer{
		@extend .visible--desktop, .col-md-offset-4, .col-md-4;
	}
}