.footer{
	margin-top: $el__spacer--sm;
}
.footer-top{
	@extend .container-fluid, .hidden-xs;
	background-color: $color__background--footer-top;
	&__inner{

	}
}
.footer-bottom{
	@extend .container-fluid;
	background-color: $color__background--footer-bottom;
	&__inner{
		@extend .container;
		padding: em(24) 0;
	}
}
.footer-copy{
	@extend .pull--center;
	color: $color__grey--lighter;
	text-transform: uppercase;
	@include adjust-font-size-to(12px);
}
