.hero-carousel{
	@extend .hidden-xs, .col-sm-12;
	box-sizing: border-box;
	margin-top: $el__spacer--xs;
	@include respond-to(md-screen){
		margin-top: $el__spacer--sm;
	}
	&__item{
		position: relative;
	}
	&__control{
		position: absolute;
		right: 7%;
		bottom: 10%;
	}
}
.hero-carousel-slide{
	&__img{
		height: em(320);
		@include respond-to(md-screen){
			height: em(420);
		}
		@include respond-to(lg-screen){
			height: em(460);
		}
	}
	&__overlay{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include background-image(linear-gradient(rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.5)));
	}
	&__container{
		width: 86%;
		position: absolute;
		left: 5%;
		bottom: 10%;
		@include respond-to(md-screen){
			width: 70%;
		}
	}
	&__meta{
		display: block;
		color: $color__accent;
		@include adjust-font-size-to(12px);
		@include leading-border();
	}
}