.hero-carousel{
	@extend .hidden-xs, .col-sm-12;
	box-sizing: border-box;
	margin-top: $el__spacer--md;
	img{
		width: 100%;
		height: auto;
	}
	&__item{
		position: relative;
	}
}
.hero-carousel-slide{
	&__img{
		height: em(320);
	}
	&__overlay{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include background-image(linear-gradient(rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.5)));
	}
	&__container{
		width: 86%;
		position: absolute;
		bottom: 10%;
		left: 7%;
	}
	&__meta{
		display: block;
		color: $color__grey--lighter;
		@include adjust-font-size-to(12px);
		@include leading-border();
	}
}